---
import { Icon } from "astro-icon";
import type { FooterLink } from "~/types";
import { Image } from "astro:assets";
import hero from "~/assets/hero_landscape.jpg";

const widths = [450, 800, 1200];
const sizes = "100vw";

const links: Array<FooterLink> = [
  {
    url: "mailto:robert@rochadrums.com?subject=rochadrums request",
    description: "robert@rochadrums.com",
    icon: "mdi:email",
  },
  {
    url: "https://www.instagram.com/rochadrums/",
    description: "Instagram",
    icon: "mdi:instagram",
  },
  {
    url: "https://www.youtube.com/@rocha-drums",
    description: "Youtube",
    icon: "mdi:youtube",
  }, // TODO: replace with a link to concerto?
];
---

<footer id="contact" class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <Image
      class="object-cover w-full h-full"
      src={hero}
      alt="Robert playing some drums"
      widths={widths}
    />
  </div>
  <div>
    <ul class="relative grid grid-cols-3 gap-4 sm:grid-cols-3">
      {
        links.map((link) => (
          <li>
            <a
              class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
              href={link.url}
            >
              <span class="sr-only">{link.description}</span>
              <Icon class="h-full" name={link.icon} />
            </a>
          </li>
        ))
      }
    </ul>
    <div class="my-4 text-center font-bold text-default text-xl">
      Get in touch
    </div>
  </div>
</footer>
